.navbarr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #000000;
}

.navbar-botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo {
  height: 120px;
  background-color: black;
}

.carrito-logo {
  display: flex;
}


@media (max-width: 768px) {
:root{
  color: white;
}

  .navbarr {
    flex-direction: column;
    align-items: center;
  }

  .navbar-botones {
    flex-direction: column;
    gap: 1px;
    margin-top: 15px;
 
  }

 

  .navbar-botones button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .img-logo {
    height: 100px; 
  }

  .carrito-logo {
    margin-top: 0px;
  }
}


@media (max-width: 480px) {

  :root{
    color: white;
  }
  
  .navbarr {
    padding: 10px;
  }

  .navbar-botones button {
    font-size: 12px;
  }

  .img-logo {
    height: 80px;  
  }

  .cart-widget span {
    font-size: 12px;
  }
}